body {
    margin-top: 0;
    background-color: #efefef;
    /* padding-top: 30px; */
    font-size: 1.1em;
}

.banner {
    margin-top: 0;
    margin-left: 1%;
    /* background-color: #ff7777; */
    background-color: azure;
    width: 98%;
    text-align: center;
    position: fixed;
    top: 0px;
    height: 100px;
    box-shadow: 8px 8px 8px 0px black;
}

.main.parent{
    width: 59%;
    height: auto;
    position: fixed;
    left: 20.5%;
    top: 120px;
    box-shadow: 8px 8px 8px 0px black;
}

.main.parent.content{
    scroll-behavior: auto;
    overflow-y: auto;
    height: auto;
    max-height: 78%;
}

.main.parent.content.snippet{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffec;
    box-shadow: 4px 4px 4px 0px darkgrey;
    position: relative;
    width: auto;
    left: 1%;
    margin-top: 1%;
    top: 1%;
    border-radius: 10px;
}

/* NOTE: curiously only [span a] is modified with the current style*/
.main.parent.content.snippet span a{
    text-decoration: none;
    color: inherit;
}
.main.parent.content.snippet a{
    text-decoration: none;
}
/* I don't think I want everything sticky now */
/* .row.banner{ */
/*     position: sticky; */
/*     top: 0px; */
/*     background-color: #ff0000; */
/*     padding-top: 0; */
/*     z-index:1000 */
/* } */

/* .row.menu{ */
/*     position: sticky; */
/* } */

/* .row.banner.footer{ */
/*     margin: 10px 0px 0px 0px; */
/*     position: bottom; */
/*     padding: 1em .2em .2em 2em; */
/* } */


h1.title {
    padding: .5em .5em;
}

.row-fluid [class*="span"]
{
    box-shadow: 8px 8px 8px 0px black;
}

.row-fluid [class*="span"] h1
{
    font-size: 2.5em;
}

.row-fluid [class*="span"] h2
{
    font-size: 1.8em;
}

.math
{
    font-size: 1.05em;
    color: #000000;
}


/* .math.display */
/* { */
/*     font-weight: 600; */
/* } */

.span3
{
    background-color: white;
    /* background-color: rgba(20, 20, 255, .1); */
}

/* Container for the menu */
.menu-container {
    width: 19%;
    max-height: 78%;
    margin-left: 1%;
    position: fixed;
    left: 0px;
    top: 120px;
    overflow-y: auto;
    background-color: white;    
    box-shadow: 8px 8px 8px 0px black;
}

/* The contents for the menu.
   A lot of it is inherited from privy-menu in the privy theme.
   But I don't think I need that now.
*/
.menu-content
{
    font-size: .8em;
    height: 100%;
    /* position: sticky; */
}

.menu-content ul
{
    /* background-color: rgba(0,0,255,0.3); */
    /* padding: 2em 1.5em;     */
}


.menu-content li
{
    border-top: 1px solid rgba(255,255,255,0.08);
    /* The next line is modified floralwhite with alpha*/
    /* Earlier it was the following */
    /* background-color: rgba(0,0,255,0.3); */
    background-color: rgba(255,220,180,0.3);
    /* padding: 2em 1.5em;     */
}

.menu-content li a, .menu li span
{
    display: block;
    padding: .1em .1em;
    /* text-align: center;  */
    text-decoration:  none;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(10,10,10,0.9);
}

.menu-content li a:hover
{
    color: rgba(255,255,255,0.8);
    text-shadow: -.5px .5px black;
}

/* .menu-content ul:hover a, .menu ul.active a, .menu ul.active span */
/* { */
/*     color: rgba(100,100,100,0.8);     */
/* } */

/* .menu-content li:hover a, .menu li.active a, .menu li.active span */
/* { */
/*     color: rgba(200,200,200,0.8);     */
/* } */

.menu-content .current_page_item a
{
    background: #2980b9;
    color: rgba(255,255,255,1);
}

.menu-content .icon
{
}

.main {
  background-color: #fff;
  border: 1px solid #CCC;
  padding: 40px;
}

.container {
  width: 1100px;
}

.nav-list {
  font-size: 17px;
}
.nav-header {
  font-size: 17px;
  text-transform: none;
  line-height: 30px;
}
.sidebar-header-2 { margin-left: 10px; }
.sidebar-header-3 { margin-left: 20px; }
.sidebar-header-4 { margin-left: 30px; }
.sidebar-header-5 { margin-left: 40px; }
